*
{
    font-family: "Roboto";
    margin: 0px;
    color: white;
}
#nav, #footer
{
    background-color: #1F2937;
}
#bar
{
    display: flex;
    flex-direction: row;
    height: 65px;
}
.right, .left
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right
{
    gap: 30px;
}
.left
{
    position: relative;
    left: -50px;
}
.left strong
{
    font-size: 24px;
    color: #F9FAF8;
}
#header
{
    height: 500px;
    display: flex;
}